body {
    margin: 0;

}

html {
    scroll-behavior: smooth;
}

*::selection {
    color: #fff;
    background: #FB5849;
}

a:hover {
    text-decoration: none;
}

#main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
}

/*Header*/

#main-header-container {
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 1px 1px rgb(223, 223, 223);
    z-index: 10;
    
}


#header-container {
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-photo {
    width: 15%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-btn {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

#menu-buttons {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.mbtn-names {
    width: 100%;
    height: 100%;
    margin: 0px 5px;
    color: #2A2A2A;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background: none;
    border: none;
    outline: none;
    transition: .5s;
    cursor: pointer;
}

.mbtn-names:hover {
    color: #FB5849;
}

.btn-ssilka {
    color: #2A2A2A;
}

.btn-ssilka:hover {
    color: #FB5849;
}

.toggel-btn span {
    transition: all .3s ease-in-out;
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: #FB5849;
    margin-bottom: 7px;
    float: left;
    display: none;
}
.toggel-btn {
    margin: 0;
    width: 40px;
    transition: 0.2s ease-in-out all;
}
/**************/


/*Slaider*/
#main-slaider-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    box-sizing: border-box;
    margin-bottom: 101px;
    background-image: url(./images/top-left-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:100%;
}

.inner-content {
    width: 100%;
    padding: 100px 0;
    box-sizing: border-box;
}

.img-row {
    width: 100%;
    height: 100%;
}

.img {
    background-repeat: no-repeat;
    z-index: -3;
}

.names {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#klassycafe {
    font-family: 'Dancing Script', sans-serif;
    font-size: 80px;
    color: white;
    margin: 0;
}

#best {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: white;
    margin: 5px 0 0;
    letter-spacing: 3px;
}

.main-white-button {
    background-color: white;
    padding: 12px 25px;
    margin: 25px 10px 0px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.2s;
}

.main-white-button:hover {
    background-color: rgb(233, 233, 233);
    color: #FB5849;
}

.btnReserv {
    font-family: 'Poppins', sans-serif;
    color: #FB5849;
    text-decoration: none;
}

.main-white-button a:hover {
    color: #FB5849;
}

.sliders-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider123 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider123-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutus-video {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

/**************/


/*About Us*/
#youtubeImg{
    z-index: -3;
}

.aboutus a {
    color: #FB5849;
}

#aboutus-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.aboutus-main {
    width: 70%;
    margin: 150px 0 150px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

}


.nameaboutus {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: #FB5849;
    letter-spacing: 2px;

}

.name2 {
    color: #2A2A2A;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin: 20px 0 25px;
    font-weight: 800;
}

.aboutus {
    
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* border: greenyellow 2px solid; */
}

#text-ssilka {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 25px;
    text-decoration: none;
}

.col-4 {
    padding: 15px 15px;
}
/**************/




/*Slider 2*/
#menu-slider-container {
    width: 100%;
    background: #fff1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 110px 0 110px;
}

#head-slider-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4px;
    width: 60%;
}

.card {
    margin: 0 auto;
    max-width: 100%;
    min-height: 400px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.card1 {
    background-image: url(./images/menu-item-01.jpg);
}

.card2 {
    background-image: url(./images/menu-item-02.jpg);
}

.card3 {
    background-image: url(./images/menu-item-03.jpg);
}

.card4 {
    background-image: url(./images/menu-item-04.jpg);
}

.card5 {
    background-image: url(./images/menu-item-05.jpg);
}

.info {
    position: relative;
    width: 100%;
    background-color: #fb5849;
    border: 5px solid #fb5849;
    transform: translateY(100%) translateY(200px) translateZ(0);
    transition: transform 0.3s ease-in-out;
}

.card:hover .info,
.card:hover .info:before {
    transform: translateY(200px) translateZ(0);
}

.description {
    padding: 0px 30px;
    color: #fff;
}

.price h6 {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #fb5849;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    line-height: 70px;
}

.card .main-text-button {
    margin-left: 30px;
    margin-top: 20px;
    padding-bottom: 30px;
}

.card .main-text-button {
    margin-left: 30px;
    margin-top: 20px;
    padding-bottom: 30px;
}

.owl-menu-item {
    position: relative;
}

.owl-nav {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: -80px;
    transform: translateY(5px);
}

.owl-dots {
    display: none;
}

.owl-nav .owl-prev {
    margin-right: 10px;
    outline: none;
}

.owl-nav .owl-prev span,
.owl-nav .owl-next span {
    opacity: 0;
}

.owl-nav .owl-prev:before {
    display: inline-block;
    font-family: 'FontAwesome';
    color: #fb5849;
    font-size: 25px;
    font-weight: 700;
    content: '\f104';
}



.owl-nav .owl-next:before {
    display: inline-block;
    font-family: 'FontAwesome';
    color: #fb5849;
    font-size: 25px;
    font-weight: 700;
    content: '\f105';
}

.title {
    margin: 0;
    padding: 30px 30px 20px 30px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.slider-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 80px;
    margin: 30px 10px 50px 10px;

}

.slider-all {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.reserv-bnt-class {
    color: #fff;
    transition: 0.3s;
}

.reserv-bnt-class:hover {
    color: rgb(233, 233, 233);
}

/************/



/*Chefs*/
#chefs-main {
    padding-top: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.chefs-head {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 70px;
}

.aboutus-head-chefs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.nameaboutus-chefs {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: #FB5849;
    letter-spacing: 2px;
}

.name2-chefs {
    color: #2A2A2A;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    padding-top: 25px;
}

.chefs-photo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
}

.chefs-photo h4 {
    color: #2A2A2A;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.chefs-photo span {
    color: #2A2A2A;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.chefs-photo-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chef-item {
    text-align: center;
    border: 1px solid #afafaf;
    padding: 5px;
    transition: all .5s;
    border-radius: 3px;
}

.chef-item:hover {
    border-color: #fb5849;
}

.chef-item:hover .down-content h4 {
    color: #fb5849;
}

.chef-item .thumb {
    position: relative;
}

.chef-item .thumb img {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.chef-item .thumb .overlay {
    position: absolute;
    background-color: #2a2a2a;
    border-radius: 3px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.chef-item .thumb ul.social-icons {
    position: absolute;
    z-index: 11;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 100%;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;

}

.chef-item .thumb ul.social-icons li {
    display: inline-block;
    margin: 0px 5px;
}

.chef-item .thumb ul.social-icons li a {
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #2a2a2a;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    transition: all .5s;
}

.chef-item .thumb ul.social-icons li a:hover {
    background-color: #fb5849;
}

.chef-item:hover .overlay {
    opacity: .7;
    visibility: visible;
}

.chef-item:hover ul.social-icons {
    opacity: 1;
    visibility: visible;
}

.chef-item .down-content {
    padding: 20px 0px;
}

.chef-item .down-content h4 {
    transition: all .3s;
    font-size: 20px;
    font-weight: 700;
    color: #2a2a2a;
}

.chef-item .down-content span {
    font-size: 14px;
    color: #2a2a2a;
}
/*************/



#Reservation-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 2px solid red;
    padding: 120px 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #212529;
    background-image: url(./images/reservation-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#reserv {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

}

#reserv-text {
    width: 50%;
    color: white;
}

#ContactUS{
    width: 100%;
}
#ContactUS h2{
    margin: 20px 0 25px;
    font-size: 31px;
    font-weight: 600;
}

#ContactUS h6{
    font-size: 15px;
    letter-spacing: 2px;
}

#ContactUS p{
    margin: 0 0 65px;
    font-size: 14px;
}
.contacts-container{
    width: 100%;
    display: flex;
    
    justify-content: space-between;
    flex-direction: row;
}
.c-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #2A2A2A;
    background-color: white;
    border-radius: 2%;
    width: 50%;
    padding: 30px 20px;
    margin: 0px 15px;
}
.c-container h4{
    color: #212529;
    margin: 1px 0 16px;
    font-size: 20px;
}
.c-container a{
    color: #2A2A2A;
    margin-bottom: 5px;
    transition: 0.1s all ease-in-out;
}
.c-container a:hover{
    color: #fb5849;
}

#reserv-table{
    padding: 45px 0;
    background-color: #fff;
    width: 50%;
    display: flex;
    flex-direction: column;
}
#tablename {
    display: flex;
    align-items: center;
    justify-content: center;
}
#tablename h4{
    color: #212529;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight:700;
    margin: 0 0 30px;
}
.reg{
    width: 100%;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}